     <!--Footer-->
    <body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Kontakt</h4>
                    <ul>
                        <li><a href="#">Styret</a></li>
                        <li><a href="#">Webansvarlig</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Om</h4>
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>IVDagene</h4>
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sosiale media</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Snapchat</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </body>